<div class="col-sm-12 frame">
  <ul>
    <li *ngFor="let chat of chats | async">
      <div class="macro" [ngClass]="{'msj': chat.status, 'msj-rta': !chat.status}">
        <div class="avatar"><img class="img-circle" [src]="chat.status ? '../assets/boy.png' : '../assets/robot.png'"  /></div>
        <div class="text" [ngClass]="{'text-l': chat.status, 'text-r': !chat.status}">
          <p>{{chat.message}}</p>
          <p><small>{{chat.date | date:'shortTime'}}</small></p>
        </div>
      </div>
    </li>
  </ul>
  <div>
    <div class="msj-rta macro" style="margin:auto">
      <div class="text text-r" style="background:whitesmoke !important">
        <span>
          <input class="mytext" placeholder="Type a message" #textMessage [(ngModel)]="messageInput" name="messageInput"/>
          <img class="sendIcon" src="../assets/send.png" (click)="sendMessage()" />
        </span>
      </div>
    </div>
  </div>
</div>